.MyWorks {
    grid-area: W;
    text-align: center;
    grid-column: 1/11;
}

.titleWorks {
    height: 60px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid yellow;
    color: yellow;
    font-size: 40px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap {
    height: 350px;
    margin: 50px auto 0;
    position: relative;
    width: 500px;
}
.wrap > input {
    display: none;
}
.slider {
    background-color: #333;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}
.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    transform: rotate(55deg);
    -webkit-filter: hue-rotate(90deg);
    transition: 1s;
}

.img1 { background-image: url(lion.jpg); }
.img2 { background-image: url(tiger.jpg); }
.img3 { background-image: url(pantera.jpg); }

.wrap .control {
    position: absolute;
    margin-left: -50px;
    left: 50%;
}
.wrap label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 10px;
    position: relative;
    width: 20px;
    border-radius: 20%;
}
.wrap label:after {
    border: 2px solid green;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 20px;
    border-radius: 20%;
}

#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3) {
    background: yellow;
}
#point1:checked ~ .slider > .img1,
#point2:checked ~ .slider > .img2,
#point3:checked ~ .slider > .img3 {
    opacity: 1;
    z-index: 1;
    transform: none;
    -webkit-filter: none;
}
