@font-face {
  font-family: 'Copyist';
  src: url('Copyist.svg#Copyist') format('svg'),
       url('Copyist.ttf') format('truetype'),
       url('Copyist.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ofont.ru_Copyist';
  src: url('ofont.ru_Copyist.eot');
  src: url('ofont.ru_Copyist.eot?#iefix') format('embedded-opentype'),
       url('ofont.ru_Copyist.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

