.MyServices {
    text-align: center;

}

.titleServices {
    height: 60px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid yellow;
    color: yellow;
    font-size: 40px;
}

.skills {
    height: 170px;
    margin-top: 30px;
    /*background: yellow;*/
}

.skills > p {
    color: yellow;
    font-weight: bold;
}

.progressbar {
    height: 30px;
    width: 50%;
    margin: auto;
    position: relative;
    border: 1px solid green;
    padding: 3px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progressbar > span {
    display: block;
    height: 100%;
    width: 70%;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
            center bottom,
            rgb(43,194,83) 37%,
            rgb(84,240,84) 69%
    );
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.orange > span {
    width: 75%;
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}
.red > span {
    width: 40%;
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

.progressbar > span:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    overflow: hidden;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.Freelanc {
    text-align: center;
    margin-top: 50px;
}

.blockFree {
    font-size: 30px;
    color: chartreuse;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 5s infinite linear;
    -moz-animation: scroll 5s infinite linear;
    animation: scroll 5s infinite linear;
}

.Freelanc > button {
    margin-top: 40px;
    height: 50px;
    width: 150px;
    color: chartreuse;
    border: 2px solid chartreuse;
    background: green;
    font-size: 20px;
}
