.header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "." "parent" ".";
    grid-area: header;
    grid-row: 1/2;
    grid-column: 1/2;
    height: 15vh;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: inherit;
    background-color: #fff0f6;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "main skills jobs contacts";
    grid-area: parent;
    grid-row: 2/3;
    grid-column: 2/3;
}

.main {
    grid-area: main;
    text-align: center;
    grid-column: 1/2;
    align-self: center;
}

.skills {
    grid-area: skills;
    text-align: center;
    grid-column: 2/3;
    align-self: center;
}

.jobs {
    grid-area: jobs;
    text-align: center;
    grid-column: 3/4;
    align-self: center;
}

.contacts {
    grid-area: contacts;
    text-align: center;
    grid-column: 4/5;
    align-self: center;
}

a {
    text-decoration: none;
    font-size: 16px;
    margin: 0;
}


