.contacts {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20px auto 20px;
    grid-template-areas: "." "b6" ".";
    grid-area: C;
    background-color: lightpink;
    grid-column: 1/13;
    height: 440px;
}

.base {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 200px 100px;
    grid-template-areas: "cont" "area" "send";
    grid-area: b6;
    border: 2px solid black;
    grid-column: 2/12;
    height: 400px;
}

.cont {
    grid-area: cont;
    grid-column: 6/8;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    align-self: start;
    background-color: lightgray;
}

.area {
    grid-area: area;
    height: 200px;
    grid-column: 4/10;
}

input {
    width: 99%;
    height: 15%;
    margin-bottom: 5px;
    background-color: lightgray;
}
textarea {
    width: 99%;
    height: 55%;
    background-color: lightgray;
}

.send {
    grid-area: send;
    grid-column: 6/8;
    background-color: lightgray;
    font-weight: bold;
    font-size: 20px;
    align-self: end;
    height: 50px;
}

@media screen and (max-device-width: 320px) {
    .contacts {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20px 500px 20px;
        grid-template-areas: "." "b6" ".";
        grid-area: C;
        background-color: lightpink;
        grid-column: 1/13;
        height: 550px;
    }

    .base {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 50px 400px 50px;
        grid-template-areas: "cont" "area" "send";
        grid-area: b6;
        border: 2px solid black;
        grid-column: 2/12;
        height: 500px;
    }

    .cont {
        grid-area: cont;
        grid-column: 3/10;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        align-self: start;
        background-color: lightgray;
    }

    .area {
        grid-area: area;
        height: 300px;
        grid-column: 2/12;
        grid-row: 2/3;
    }

    input {
        width: 99%;
        height: 15%;
        margin-bottom: 5px;
        background-color: lightgray;
    }
    textarea {
        width: 99%;
        height: 75%;
        background-color: lightgray;
    }

    .send {
        grid-area: send;
        grid-column: 4/9;
        background-color: lightgray;
        font-weight: bold;
        font-size: 20px;
        align-self: end;
        height: 50px;
        grid-row: 3/4;
    }
}



