.Footer {
    grid-area: A;
    color: fuchsia;
    text-align: center;
    grid-column: 1/13;
    grid-row: 7/8;
}

.cop {
    /*background: yellow;*/
    font-size: 20px;
    font-weight: bolder;
    color: chartreuse;
    margin-top: 70px;
}
