.Freelanc {
    grid-area: F;
    color: blue;
    text-align: center;
    grid-column: 1/13;
    grid-row: 5/6;
    border-bottom: 2px solid yellow;
}

.blockFree {
    font-size: 30px;
    color: chartreuse;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 5s infinite linear;
    -moz-animation: scroll 5s infinite linear;
    animation: scroll 5s infinite linear;
}

.Freelanc > button {
    margin-top: 40px;
    height: 50px;
    width: 150px;
    color: chartreuse;
    border: 2px solid chartreuse;
    background: green;
    font-size: 20px;
}
