.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "menu";
    grid-area: header;
    grid-row: 1/2;
    height: 90px;
    background-color: deepskyblue;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "main skills jobs contacts";
    grid-area: menu;
    grid-column: 3/5;
    align-self: center;
    height: 25px;
    margin: 20px 0 20px 0;
    border: 2px solid black;
}

.main {
    grid-area: main;
    text-align: center;
}

.skills {
    grid-area: skills;
    text-align: center;
}

.jobs {
    grid-area: jobs;
    text-align: center;
}

.contacts {
    grid-area: contacts;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 16px;
    margin: 0;
}

@media screen and (max-width: 850px) {
    .menu {
        grid-column: 2/5;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        grid-column: 1/5;
    }
}
