.myFreelance {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "parent";
    grid-area: myFreelance;
    grid-row: 5/6;
    grid-column: 1/2;
    background-color: #050505;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "menu";
    grid-area: parent;
    grid-row: 2/3;
    grid-column: 2/3;
    border: 2px solid black;
}


.textF {
    grid-area: textF;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: start;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: darkgrey;
    margin: 0;
    width: 450px;

}

.hiring {
    grid-area: hiring;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
    width: 200px;
    background-color: gray;
}

@media screen and (max-width: 580px) {
    .textF {
        width: 250px;
    }
}