.myJobs {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-row: 4/5;
    grid-column: 1/2;
    height: 550px;
    background-color: plum;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 350px;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    height: 450px;
    border: 2px solid black;
}

.bG_1 {
    display: grid;
    grid-area: bG_1;
    border-bottom: 2px solid black;
    grid-row: 1/2;
    grid-column: 1/9;
}

.bG_1 p {
    align-self: start;
    justify-self: center;
    font-weight: bold;
    font-size: 25px;
    background-color: darkgrey;
    margin: 0;
    width: 200px;
    text-align: center;
}

.bG_2 {
    display: grid;
    grid-template-columns: 300px 1fr 300px 1fr 300px;
    grid-template-rows: 350px;
    grid-row: 2/3;
    grid-column: 1/9;
}

.job1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row: 1/2;
    grid-column: 1/2;
}

.job2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row: 1/2;
    grid-column: 3/4;
}

.job3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row: 1/2;
    grid-column: 5/6;
}

.picture {
    display: grid;
    grid-area: picture;
    background-color: darkgrey;
    grid-row: 1/4;
    grid-column: 1/4;
}

.picture button {
    place-self: center;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 40px;
    background-color: gray;
}

.reviewJob {
    grid-area: picture;
    background-color: gainsboro;
    grid-row: 4/5;
    grid-column: 1/4;
}

.nameJob {
    background-color: darkgrey;
    font-weight: bold;
    font-size: 18px;
    width: 170px;
    margin-left: 20px;
}

.shortReview {
    background-color: darkgrey;
    font-weight: bold;
    font-size: 18px;
    width: 250px;
    height: 50px;
    margin-left: 20px;
}

@media screen and (max-width: 1150px) {
    .myJobs {
        height: 910px;
    }

    .parent {
        grid-template-rows: 100px 710px;
        height: 810px;
    }

    .bG_2 {
        grid-template-columns: 1fr 300px 1fr 300px 1fr;
        grid-template-rows: 350px 10px 350px;
    }

    .job1 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .job2 {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    .job3 {
        grid-row: 3/4;
        grid-column: 2/3;
    }
}

@media screen and (max-width: 800px) {
    .myJobs {
        height: 1270px;
    }

    .parent {
        grid-template-rows: 100px 1070px;
        height: 1170px;
    }

    .bG_2 {
        grid-template-columns: 1fr 300px 1fr;
        grid-template-rows: 350px 10px 350px 10px 350px ;
    }

    .job1 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .job2 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .job3 {
        grid-row: 5/6;
        grid-column: 2/3;
    }
}

@media screen and (max-width: 800px) {
    .bG_2 {
        grid-template-columns: 1fr 250px 1fr;
    }
}

.shortReview {
    background-color: darkgrey;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    height: 50px;
    margin-left: 20px;
}



