.mySkills {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-row: 3/4;
    grid-column: 1/2;
    height: 500px;
    background-color: lightgreen;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    border: 2px solid black;
}

.heading {
    display: grid;
    border-bottom: 2px solid black;
    grid-row: 1/2;
    grid-column: 1/9;
}

.title {
    align-self: start;
    justify-self: center;
    font-weight: bold;
    font-size: 25px;
    background-color: darkgrey;
    margin: 0;
    width: 200px;
    text-align: center;
}

.overview {
    display: grid;
    grid-template-columns: 275px 1fr 275px 1fr 275px;
    grid-template-rows: 300px;
    grid-row: 2/3;
    grid-column: 1/9;
}

.skill1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "bS_2a bS_2a bS_2a"
    "bS_2b bS_2b bS_2b"
    "bS_2c bS_2c bS_2c";
    grid-area: skill;
    background-color: white;
    grid-row: 1/2;
    grid-column: 1/2;
}

.skill2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "bS_2a bS_2a bS_2a"
    "bS_2b bS_2b bS_2b"
    "bS_2c bS_2c bS_2c";
    grid-area: skill;
    background-color: white;
    grid-row: 1/2;
    grid-column: 3/4;
}

.skill3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "bS_2a bS_2a bS_2a"
    "bS_2b bS_2b bS_2b"
    "bS_2c bS_2c bS_2c";
    grid-area: skill;
    background-color: white;
    grid-row: 1/2;
    grid-column: 5/6;
}

.bS_2a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "grey";
    grid-area: bS_2a;
    background-color: white;
}

.grey {
    grid-area: grey;
    grid-column: 2/3;
    background-color: darkgrey;
}

.bS_2b {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "react";
    grid-area: bS_2b;
    background-color: white;
}

.react {
    grid-area: react;
    grid-column: 2/3;
    background-color: darkgrey;
    align-self: center;
}

.react p {
    width: 100px;
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: darkgrey;
}

.bS_2c {
    grid-area: bS_2c;
    background-color: darkgray;
}

.description {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .mySkills {
        height: 810px;
    }

    .parent {
        grid-template-rows: 100px 610px;
    }

    .overview {
        grid-template-columns: 1fr 275px 1fr 275px 1fr;
        grid-template-rows: 300px 10px 300px;
    }

    .skill1 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .skill2 {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    .skill3 {
        grid-row: 3/4;
        grid-column: 2/3;
    }
}

@media screen and (max-width: 750px) {
    .mySkills {
        height: 1120px;
    }

    .parent {
        grid-template-rows: 100px 920px;
    }

    .overview {
        grid-template-columns: 1fr 275px 1fr;
        grid-template-rows: 300px 10px 300px 10px 300px;
    }

    .skill1 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .skill2 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .skill3 {
        grid-row: 5/6;
        grid-column: 2/3;
    }
}

@media screen and (max-width: 370px) {
    .overview {
        grid-template-columns: 1fr 250px 1fr;
    }
}