.Navigation {
    grid-area: N;
    text-align: center;
    grid-column: 1/13;
    grid-row: 1/2;
}

.hiddenMenu {
    display: block;
    position: fixed;
    list-style:none;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background: rgba(0, 170, 238, 0.9); /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 150px; /* Поля вокруг текста */
    height: 100%;
    top: 0;
    right: -100%;
    transition: right .2s;
    z-index: 2;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.hiddenMenu li a {
    color: white;
    display: block;
    text-decoration: none;
    font-family: inherit; /* здесь можно задать свой фонт */
    font-smoothing: antialiased;
    text-transform: uppercase;
    overflow: visible;
    line-height: 20px;
    font-size: 24px;
    padding: 15px 10px;
    margin-top: 10px;
}
/* анимация */
.threeD {
    perspective: 200px;
    transition: all .07s linear;
    position: relative;
    cursor: pointer;
}

.threeD:hover .threeDbox,
.threeD:focus .threeDbox {
    transform: translateZ(-25px) rotateX(90deg);
}

.threeDbox {
    transition: all .3s ease-out;
    transform: translatez(-25px);
    transform-style: preserve-3d;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.front {
    transform: rotatex(0deg) translatez(25px);
}

.back {
    transform: rotatex(-90deg) translatez(25px);
    /*color: #ffe7c4;*/
    color: yellow;
}

.front, .back {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #237570; /* цвет подложки пунктов меню */
    padding: 15px 10px;
    pointer-events: none;
    box-sizing: border-box;
}

/*knopka*/
.hiddenMenuTicker {
    display: none;
}

.btnMenu {
    color: #fff;
    background: chartreuse;
    padding: 5px;
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: right .23s;
    z-index: 3;
    width: 55px;
    transform: translateZ(0);
    backface-visibility: hidden;
}
.btnMenu span {
    display: block;
    height: 5px;
    background-color: orange;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btnMenu span.first {
    margin-top: 0;
}

.btnMenu p {
    color: darkgreen;
}

.hiddenMenuTicker:checked ~ .btnMenu {
    right: 95%;
}
.hiddenMenuTicker:checked ~ .hiddenMenu {
    right: 0;
}
.hiddenMenuTicker:checked ~ .btnMenu span.first {
    transform: rotate(45deg);
    top: 10px;
}
.hiddenMenuTicker:checked ~ .btnMenu span.second {
    opacity: 0;
}
.hiddenMenuTicker:checked ~ .btnMenu span.third {
    transform: rotate(-45deg);
    top: -10px;
}
