.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "A" "B" "C" "D" "E" "F" "G";
  background-color: white;
  /*align-items: center;*/
  /*justify-content: center;*/
  color: white;
  border: 3px solid black;
}

.A {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 1fr 20%;
  grid-template-areas:
  ". . . . . . . . . . . ."
  ". base-m base-m base-m base-m base-m base-m base-m base-m base-m base-m ."
  ". . . . . . . . . . . .";
  grid-area: A;
  background-color: aqua;
  height: auto;
}

.base-m {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
          ". . . . . menu menu menu menu menu menu menu";
  grid-area: base-m;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "m1 m2 m3 m4";
  grid-area: menu;
  /*background-color: yellow;*/
  border: 1px solid black;
  /*grid-column-gap: 1%;*/
  align-self: center;
}

.m1 {
  grid-area: m1;
}

.m2 {
  grid-area: m2;
}

.m3 {
  grid-area: m3;
}

.m4 {
  grid-area: m4;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}


.B {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". base base base base base base base base base base ."
          ". . . . . . . . . . . .";
  grid-area: B;
  background-color: pink;
}

.baseB {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
          ". . . . . menu menu menu menu menu menu menu";
  grid-area: base;
  background-color: silver;
  border: 1px solid black;
}

.C {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". base base base base base base base base base base ."
          ". . . . . . . . . . . .";
  grid-area: C;
  background-color: yellow;
}

.D {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". base base base base base base base base base base ."
          ". . . . . . . . . . . .";
  grid-area: D;
  background-color: darkmagenta;
}

.E {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". base base base base base base base base base base ."
          ". . . . . . . . . . . .";
  grid-area: E;
  background-color: darkgoldenrod;
}

.F {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". base base base base base base base base base base ."
          ". . . . . . . . . . . .";
  grid-area: F;
  background-color: deeppink;
}

.G {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". base base base base base base base base base base ."
          ". . . . . . . . . . . .";
  grid-area: G;
  background-color: blue;
}

.base {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
          ". . . . . menu menu menu menu menu menu menu";
  grid-area: base;
  /*background-color: silver;*/
  border: 1px solid black;
}


