.Portfolio {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr;
    grid-template-areas: "parent";
    background-color: darkseagreen;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 400px 500px 710px 204px 500px 260px;
    grid-template-areas: "header" "myResume" "mySkills"
    "myJobs" "myFreelance" "myContacts" "myFooter";
    grid-area: parent;
    grid-column: 2/3;
}
































