.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 1fr 1.7fr 2fr 1fr 1fr 1fr;
  grid-template-areas: "A" "B" "C" "D" "E" "F" "G";
  background-color: white;
  color: white;
  border: 3px solid black;
}

.A {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 1fr 20%;
  grid-template-areas:
  ". . . . . . . . . . . ."
  ". base-m base-m base-m base-m base-m base-m base-m base-m base-m base-m ."
  ". . . . . . . . . . . .";
  grid-area: A;
  background-color: aqua;
  height: auto;
}

.base-m {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . . menu menu menu menu menu menu menu";
  grid-area: base-m;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "m1 m2 m3 m4";
  grid-area: menu;
  border: 1px solid black;
  align-self: center;
}

.m1 {
  grid-area: m1;
}

.m2 {
  grid-area: m2;
}

.m3 {
  grid-area: m3;
}

.m4 {
  grid-area: m4;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}


.B {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". baseB baseB baseB baseB baseB baseB baseB baseB baseB baseB ."
          ". . . . . . . . . . . .";
  grid-area: B;
  background-color: pink;
}

.baseB {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          ". . . . . . . fB fB fB fB ."
          ". rB rB rB rB . . fB fB fB fB ."
          ". . . . . . . fB fB fB fB .";
  grid-area: baseB;
  border: 1px solid black;
}

.resume {
  grid-area: rB;
  background-color: gainsboro;
  color: black;
  text-align: left;
}

.foto {
  grid-area: fB;
    background-image: url('logo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.C {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". baseC baseC baseC baseC baseC baseC baseC baseC baseC baseC ."
          ". . . . . . . . . . . .";
  grid-area: C;
  background-color: lightgreen;
}

.baseC {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    grid-template-areas: ". . . . . sC sC . . . . ."
    "iC iC iC iC iC iC iC iC iC iC iC iC";
    grid-area: baseC;
    /*background-color: yellow;*/
    border: 1px solid black;
}

.skill {
    grid-area: sC;
    align-content: start;
    align-self: start;background-color: gainsboro;
    color: black;
    font-weight: bold;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "i1 i1 . i2 i2 . i3 i3";
    grid-area: iC;
    /*background-color: darkmagenta;*/
    border: 1px solid black;
}

.i1 {
    grid-area: i1;
    background-color: white;
    border-right: 1px solid red;
}

.i2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    grid-template-areas: "i21"
    "i22";
    grid-area: i2;
    background-color: goldenrod;
}

.i21 {
    grid-area: i21;
    background-color: white;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
}

.i22 {
    grid-area: i22;
    background-color: gainsboro;
    border-right: 1px solid blue;
    border-top: 1px solid blue;
    border-left: 1px solid blue;
}

.i3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    grid-template-areas: "i31"
    "i32";
    grid-area: i3;
    background-color: silver;
}

.i31 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45% 55%;
    grid-template-areas: ". i311 ."
    "i312 i312 i312";
    grid-area: i31;
    background-color: white;
}

.i311 {
    grid-area: i311;
    background-color: gainsboro;
}

.i312 {
    grid-area: i312;
    background-color: gainsboro;
    color: black;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

.i32 {
    grid-area: i32;
    background-color: gainsboro;
    color: black;
    font-size: 80%;
    font-weight: bold;
}


.D {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". baseD baseD baseD baseD baseD baseD baseD baseD baseD baseD ."
          ". . . . . . . . . . . .";
  grid-area: D;
  background-color: #FFBBFF;
}

.baseD {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    grid-template-areas: ". . . . . jD jD . . . . ."
    "eD eD eD eD eD eD eD eD eD eD eD eD";
    grid-area: baseD;
    /*background-color: yellow;*/
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.job {
     grid-area: jD;
     align-content: start;
     align-self: start;
     background-color: gainsboro;
     color: black;
     font-weight: bold;
 }

.examples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "e1 e1 e1 e2 e2 e2 e2";
    /*border: 1px solid black;*/
    grid-area: eD;
    /*background-color: green;*/
}

.example1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75% 25%;
    grid-template-areas: "e11 e11 e11"
    "e12 e12 e12";
    grid-area: e1;
    background-color: yellow;
    border: 1px solid red;
}

.example11 {
    grid-area: e11;
    background-color: #BEBEBE;
}

.example12 {
    grid-area: e12;
    background-color: gainsboro;
}

.example2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75% 25%;
    grid-template-areas: ". e21 e21 e21"
    ". e22 e22 e22";
    grid-area: e2;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /*background-color: dodgerblue;*/
}

.example21 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% 20% 40%;
    grid-template-areas: ". . ."
    ". kn ."
    ". . .";
    grid-area: e21;
    background-image: url('image3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.kn{
    grid-area: kn;
    background-color: #BEBEBE;
}

.example22 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 35% 60% 5%;
    grid-template-areas:
    ". sp1 sp1 sp1 sp1 sp1 sp1 . . . . ."
    ". sp2 sp2 sp2 sp2 sp2 sp2 sp2 sp2 sp2 sp2 ."
    ". . . . . . . . . . . .";
    grid-area: e22;
    background-color: gainsboro;
    color: black;
    font-size: 80%;
    font-weight: bold;
}

span1 {
    grid-area: sp1;
    background-color: #BEBEBE;
    align-self: center;
}

span2 {
    grid-area: sp2;
    background-color: #BEBEBE;
    align-self: stretch;
    text-align: left;
}
.E {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". base base base base base base base base base base ."
          ". . . . . . . . . . . .";
  grid-area: E;
  background-color: darkgoldenrod;
}

.F {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". base base base base base base base base base base ."
          ". . . . . . . . . . . .";
  grid-area: F;
  background-color: deeppink;
}

.G {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          ". . . . . . . . . . . ."
          ". base base base base base base base base base base ."
          ". . . . . . . . . . . .";
  grid-area: G;
  background-color: blue;
}

.baseG {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
          ". . . . . menu menu menu menu menu menu menu";
  grid-area: baseG;
  /*background-color: silver;*/
  border: 1px solid black;
}


